.container{
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 350px 200px;
  background-color: #303035;
  color: #303035;
  align-content: space-evenly;
}

img {
     max-width: 450px;
     min-height: 260px;
}